<!--DOCTYPE html -->
<html>
<body>
  <h1>{{title}} is working</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Timestamp</th>
        <th>Update</th>
        <th>ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        <td>{{obj.title}}</td>
        <td>{{obj.content}}</td>
        <td>{{obj.timestamp}}</td>
        <td>{{obj.updated}}</td>
        <td>{{obj.id}}</td>
        <td><a href="/posts/detail/{{obj.id}}">Delete</a> || <a href="/posts/detail/{{obj.id}}">Update</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
