{% extends "base.html" %}
{% block content%}
  <h1>{{title}} is working</h1>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Content</td>
        <td>Timestamp</td>
        <td>Update</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{instance.title}}</th>
        <th>{{instance.content}}</th>
        <th>{{instance.timestamp}}</th>
        <th>{{instance.updated}}</th>
        <th>{{instance.id}}</th>
      </tr>
    </tbody>
  </table>
{% endblock content%}
